body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #413543;
    display: grid;
    place-items: center;
}

.Login {
  position: relative;
  height: 70vh;
  width: 100vh;
  border-radius: .6rem;
  background: #2D2727;
  display: flex;
}

.container {
  border: 1px solid white;
  border-radius: .6rem;
  height: auto;
  width: 50vw;
  margin: .8rem;
}

