body {
  padding: 0;
  margin: 0;
}

/* Base container style */
.container {
  border: 2px solid grey;
  padding: .3rem;
  margin: .8rem;
}

/* Float experiment and without Float*/
.container.float {
  text-align: center;
}

.box {
  display: inline-block;
  border-radius: 10px;
  padding: 4rem;
  margin: .5rem;
}

#box1 {
  background: grey;
}

#box2 {
  background: red;
}

#box3 {
  background: blue;
}

/* Here starts experiment with flex box */
.container.flex {
  display: flex;
  gap: .3rem;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}

.boxflex {
  padding: 2rem;
  border-radius: .6rem;
}


